@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: dark-grey;
  text-align: center;
}
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
} */

header {
  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid dark-grey;
}

header h1 {
  margin: 0;
}

button {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  font-size: 1.15em;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* margin-top: 25px; */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
button:hover {
  box-shadow: 0px 0px 10px rgba(1, 1, 1, 15);
  background-color: #1caf50;
}
.separador {
  overflow: hidden;
  height: 20px;
}

.separador:after {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  margin: -30px auto 0;
  margin-bottom: -10px;
  border-radius: 120px / 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 8px 15px;
}

h3 {
  padding: 8px 15px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.bgcolor {
  margin-top: -10px;
  margin-bottom: 0;
  background-color: #f5f5f5;
}

input {
  font-size: 1.15em;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

section#recipes {
  padding: 20px;
  margin: 0;
  margin-top: -10px;
  text-align: center;
  background-color: #fafafa;
}

section#recipes h2 {
  margin: 0;
  font-size: 2em;
  color: #4caf50;
  text-shadow: 1px 1px 1px black;
}

section#recipes ul {
  /* font-weight: bold; */
  list-style: none;
  margin: 15px;
  padding: 0;
}

section#recipes ul li {
  margin: 10px 0;
}

section#recipes u {
  font-weight: bold;
  font-size: 1.15em;
  color: dark-gray;
  text-shadow: 0.5px 0.5px 1px #4caf50;
}

section#recipes a {
  text-decoration: none;
  color: inherit;
}

section#recipes a:link {
  text-decoration: none;
  color: inherit;
}
section#recipes a:visited {
  text-decoration: none;
  color: inherit;
}
section#recipes a:hover {
  text-shadow: 1px 1px 2px gray;
  color: dark-gray;
}
section#recipes a:active {
  text-decoration: underline;
  color: inherit;
}
